<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=216-db001.database.windows.net;Initial Catalog=Quant;User ID=/***username***/;Password=/***password***/;Connect Timeout=4;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
	</connectionStrings>
	<appSettings>
		<add key="APIKeyDictionaryFilePath" value="C:\Users\brend\Desktop\APIKeyDictionary.txt"/>
		<add key="OpenAITextGenerationEndpoint" value="https://api.openai.com/v1/chat/completions"/>
		<add key="OpenAIEmbeddingEndpoint" value="https://api.openai.com/v1/embeddings"/>
	</appSettings>
</configuration>